.margemTop {
    margin-top: 30px;

}

.container {
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 50px;
   
    
}

footer {
    background-color: #361A96;
    margin-right: 0px;
    text-align: center;
    color:white;

}

#imageController{
    width: 130px;
    height: 130px;
}

#tituloH1 {
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
}

#logo {
    width: 220px;
    height: auto;
}
